   .radial-progress {
	@circle-size: 120px;
	@circle-background: #d6dadc;
	@circle-color: #4bc5a2;
	@inset-size: 90px;
	@inset-color: #fff;
	@transition-length: 20s;
	@shadow: 6px 6px 10px rgba(0,0,0,0.2);

	margin: 50px;
	width:  @circle-size;
	height: @circle-size;

	background-color: @circle-background;
	border-radius: 50%;
	.circle {
		.mask, .fill, .shadow {
			width:    @circle-size;
			height:   @circle-size;
			position: absolute;
			border-radius: 50%;
		}
		.shadow {
			
		}
		.mask, .fill {
			-webkit-backface-visibility: hidden;
			transition: -webkit-transform @transition-length;
			transition: -ms-transform @transition-length;
			transition: transform @transition-length;
			-webkit-transition-timing-function: linear; /* Safari and Chrome */
			transition-timing-function: linear;
		}
		.mask {
			clip: rect(0px, @circle-size, @circle-size, @circle-size/2);
			.fill {
				clip: rect(0px, @circle-size/2, @circle-size, 0px);
				background-color: @circle-color;
			}
		}
	}
	.inset {
		width:       @inset-size;
		height:      @inset-size;
		line-height: @inset-size;
		text-align: center;
		position:    absolute;
		margin-left: (@circle-size - @inset-size)/2;
		margin-top:  (@circle-size - @inset-size)/2;

		background-color: @inset-color;
		border-radius: 50%;		
	}	
	.inset #noDays {
		display: inline-block;
		vertical-align: middle;
		line-height: normal; 
	}
